<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Users</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        #users tr.user {
            cursor: pointer;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-dark bg-dark justify-content-between">
    <div class="container">
        <a class="navbar-brand text-white" href="/">Back Office</a>
        <div>
            <a class="btn btn-info" type="button" href="/devices">Devices list</a>
            <a class="btn btn-secondary" type="button" href="/logout">Sign out</a>
        </div>
    </div>
</nav>

<h2 class="text-center">List of users</h2>

<div class="container">
    <table id="users" class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr class="user" th:each="user : ${users}" >
            <td><a th:href="@{/user(userId=${user.id})}"><span th:text="${user.id}">Id</span></a></td>
            <td><span th:text="${user.firstName}">First Name</span></td>
            <td><span th:text="${user.lastName}">Last Name</span></td>
        </tr>
        </tbody>
    </table>
</div>

</body>

<script >
    $(document).ready(function() {
        $('#users tr').click(function() {
            var href = $(this).find("a").attr("href");
            if(href) {
                window.location = href;
            }
        });
    });
</script>
</html>